header{
    display: flex;
    height: 70px;
    background-color: yellow;
    justify-content: space-between;
    align-items: center;
    padding: 10px;  
}
body {
    background: rgb(245, 245, 142);
 } 
nav a{
    font-weight: 600;
    text-decoration: none;
}
.logo--nombre {
    font-size: 40px;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.imagen {
    margin: 30px;
   height: 300px;
   text-align: center;
   
}

.imagen--frente{
    height: 300px;
    width: 400px;

}

.texto {
    height: 120px;
}

.texto h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.texto p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.mision h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.mision p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}